body {
    height: auto;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bbae00;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000000;
    color: white;
    text-align: center;
    align-items: center;
    padding: 10px;
}
.header h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: light;
}
.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #000000;
    padding: 10px;
    height: auto;
}
.nav button {
    background-color: #bbae00;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.nav button:hover {
    background-color: #000000;
    color: white;
    border: 2px solid #bbae00;
}
.container-footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}